@*@model MVCSeguros.Models.Descripcion*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Cotizar", "Cotizaciones", FormMethod.Post, new { onsubmit = "return SubmitForm()" }))
{
    @*@using (Html.BeginForm())
        {*@
    <h1 class="text-center">Cotizaciones</h1>

    @*<div class="container" style="flex: 1 1 100%;">*@
    @*<div class="container" style="width: 60%;  float: left;">*@
    <div class="form-group" style="width: 50%; float: left;">
        <p class="fs-4 fw-bold text-center mt-0 mb-3">Vehículo</p>

        <label for="dropDownMarcas" style="margin-top:5px;">Marca:</label>
        <select class="form-control" id="dropDownMarcas"></select>

        <label for="dropDownSubMarcas" style="margin-top:5px;">Sub Marca:</label>
        <select class="form-control" id="dropDownSubMarcas"></select>

        <label for="dropDownModelos" style="margin-top:5px;">Modelo:</label>
        <select class="form-control" id="dropDownModelos"></select>

        <label for="dropDownDescripciones" style="margin-top:5px;">Descripción:</label>
        <select class="form-control" id="dropDownDescripciones"></select>

        @*<div class="form-group">
                @Html.LabelFor(model => model.DescripcionId, new { @class = "control-label" })
                @Html.EditorFor(model => model.DescripcionId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescripcionId)
            </div>*@


        @*</div>

            <div class="form-group" style="width: 50%; float: left;">*@
        <div style="margin-top:5%;">
            <p class="fs-4 fw-bold text-center mt-0 mb-3">Domicilio</p>

            <label for="txtCodigoPostal">Código Postal:</label>
            <input id="txtCodigoPostal" type="number" class="form-control" placeholder="Código postal ...">

            <label for="txtEntidad" class="form-label">Estado:</label>
            <input type="text" class="form-control" id="txtEntidad" placeholder="Entidad..." readonly="readonly">

            <label for="txtMunicipio" class="form-label">Municipio:</label>
            <input type="text" class="form-control" id="txtMunicipio" placeholder="Municipio ..." readonly="readonly">

            <label for="dropDownColonias" style="margin-top:5px;">Colonia:</label>
            <select class="form-control" id="dropDownColonias"></select>
        </div>

        <div class="mt-3" style="margin-top:7%; text-align:center">
            <button type="submit" class="btn btn-primary d-block btn-lg mx-auto">Cotizar</button>
        </div>
    </div>

    <div class="modal fade" id="divModalConfirmacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header"><h5 class="modal-title" id="staticBackdropLabel">Cotización</h5></div><!--!-->
                    <div class="modal-body">
                        <div class="d-flex justify-content-evenly flex-wrap">
                            <div class="p-2 border rounded m-2" id="divAseguradora1" style="display:none;">
                                <img src="~/images/AXA.png" class="rounded" style="width: 100px; height: auto;" alt="Aseguradora AXA"><!--!-->
                                <p class="my-0 mt-2 mx-auto fw-bold text-center" id="parrafoAseguradora1"></p>
                            </div>
                            <div class="p-2 border rounded m-2" id="divAseguradora2" style="display:none;">
                                <img src="~/images/ZURICH.png" class="rounded" style="width: 100px; height: auto;" alt="Aseguradora Zurich"><!--!-->
                                <p class="my-0 mt-2 mx-auto fw-bold text-center" id="parrafoAseguradora2"></p>
                            </div>
                            <div class="p-2 border rounded m-2" id="divAseguradora3" style="display:none;">
                                <img src="~/images/HDI.png" class="rounded" style="width: 100px; height: auto;" alt="Aseguradora HDI"><!--!-->
                                <p class="my-0 mt-2 mx-auto fw-bold text-center" id="parrafoAseguradora3"></p>
                            </div>
                            <div class="p-2 border rounded m-2" id="divAseguradora4" style="display:none;">
                                <img src="~/images/CHUBB.png" class="rounded" style="width: 100px; height: auto;" alt="Aseguradora CHUBB"><!--!-->
                                <p class="my-0 mt-2 mx-auto fw-bold text-center" id="parrafoAseguradora4"></p>
                            </div>
                            <div class="p-2 border rounded m-2" id="divAseguradora5" style="display:none;">
                                <img src="~/images/QUALITAS.png" class="rounded" style="width: 100px; height: auto;" alt="Aseguradora Qualitas"><!--!-->
                                <p class="my-0 mt-2 mx-auto fw-bold text-center" id="parrafoAseguradora5"></p>
                            </div>
                        </div><!--!-->
                        <p class="my-0 mt-3 fw-bold text-center" id="parrafoCotizacionTerminada" style="display:none;">.: Cotización terminada :.</p>
                    </div><!--!-->
                    <div class="modal-footer"><button type="button" class="btn btn-primary" onclick="cerrarModal()">Aceptar</button></div>
                </div>
            </div>
        </div>

    @*<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
    </div>*@
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    var descripcionIdGlobal;
    var peticionFinalizadaGlobal = false;
    var peticionLlaveGlobal = '';
    var popUp; 

    $(document).ready(function () {


        $.ajax({
            type: 'GET',
            url: '/Seguros/Catalogos/ObtenerMarcas',
            success: function (result) {
                console.log(result.data);
                $("#dropDownMarcas").empty();
                $("#dropDownMarcas").append("<option value='0'>Selecciona una marca</option>");
                $.each(result.data, function (index, optiondata) {
                    $("#dropDownMarcas").append("<option value='" + optiondata.marcaId + "'>" + optiondata.marcaDescripcion + "</option>");
                    //$("#dropDownMarcas").append("<option value='1'>" + optiondata.marca1 + "</option>");
                });
            }
        });

    });

    $(function () {
        $("#dropDownMarcas").change(function (event) {

            if ($("#dropDownMarcas").val() != "0") {

                $.ajax({
                    url: "/Seguros/Catalogos/ObtenerSubMarcas/",
                    type: 'GET',
                    data: { MarcaId: $("#dropDownMarcas").val() },
                    success: function (result) {
                        console.log(result.data);
                        $("#dropDownSubMarcas").empty();
                        $("#dropDownSubMarcas").append("<option value='0'>Selecciona una SubMarca</option>");
                        $.each(result.data, function (index, optiondata) {
                            $("#dropDownSubMarcas").append("<option value='" + optiondata.subMarcaId + "'>" + optiondata.subMarcaDescripcion + "</option>");
                        });
                    },
                    error: function (xhr) {
                        alert("Hubo un error");
                    }
                });
            }
        });
    });

    $(function () {
        $("#dropDownSubMarcas").change(function (event) {

            if ($("#dropDownSubMarcas").val() != "0") {

                $.ajax({
                    url: "/Seguros/Catalogos/ObtenerModelos/",
                    type: 'GET',
                    data: { SubMarcaId: $("#dropDownSubMarcas").val() },
                    success: function (result) {
                        console.log(result.data);
                        $("#dropDownModelos").empty();
                        $("#dropDownModelos").append("<option value='0'>Selecciona un Modelo</option>");
                        $.each(result.data, function (index, optiondata) {
                            $("#dropDownModelos").append("<option value='" + optiondata.modeloId + "'>" + optiondata.ano + "</option>");
                        });
                    },
                    error: function (xhr) {
                        alert("Hubo un error");
                    }
                });
            }
        });
    });

    $(function () {
        $("#dropDownModelos").change(function (event) {

            if ($("#dropDownModelos").val() != "0") {

                $.ajax({
                    url: "/Seguros/Catalogos/ObtenerDescripciones/",
                    type: 'GET',
                    data: { ModeloId: $("#dropDownModelos").val() },
                    success: function (result) {
                        console.log(result.data);
                        $("#dropDownDescripciones").empty();
                        $("#dropDownDescripciones").append("<option value='0'>Selecciona una Descripción</option>");
                        $.each(result.data, function (index, optiondata) {
                            $("#dropDownDescripciones").append("<option value='" + optiondata.descripcionId + "'>" + optiondata.descripcionDetallada + "</option>");
                        });
                    },
                    error: function (xhr) {
                        alert("Hubo un error");
                    }
                });
            }
        });
    });

    $(function () {
        $("#txtCodigoPostal").change(function () {
            if ($("#txtCodigoPostal").val().length == 5) {

                ////Metodo 1, con catalogos ubicaciones geograficas creadas localmente
                $.ajax({
                    url: "/Seguros/Catalogos/ObtenerUbicacionesGeograficas/",
                    type: 'GET',
                    data: { CodigoPostalNumero: $("#txtCodigoPostal").val() },
                    success: function (result) {
                        console.log(result.data);
                        if (result.data.length > 0) {
                            $("#txtEntidad").val(result.data[0].entidadNombre);
                            $("#txtMunicipio").val(result.data[0].municipioNombre);
                            $("#dropDownColonias").empty();
                            $("#dropDownColonias").append("<option value='0'>Selecciona una Colonia</option>");
                            $.each(result.data, function (index, optiondata) {
                                $("#dropDownColonias").append("<option value='" + optiondata.coloniaId + "'>" + optiondata.coloniaNombre + "</option>");
                            });
                        }
                        else {
                            $("#txtEntidad").val("");
                            $("#txtMunicipio").val("");
                            $("#dropDownColonias").empty();
                        }
                    },
                    error: function (xhr) {
                        alert("Hubo un error");
                    }
                });

                ////Metodo 2, con catalogos de ubicaciones geograficas consultadas en servicio de web.aarco.com.mx
                //$.ajax({
                //    url: "/Seguros/Catalogos/ObtenerDomicilio/",
                //    type: 'GET',
                //    data: { CodigoPostalNumero: $("#txtCodigoPostal").val() },
                //    success: function (result) {
                //        console.log(result.data);
                //        if (result.data.length > 0) {
                //            //$("#txtEntidad").val(result.data[0].entidadNombre);
                //            //$("#txtMunicipio").val(result.data[0].municipioNombre);
                //            //$("#dropDownColonias").empty();
                //            //$("#dropDownColonias").append("<option value='0'>Selecciona una Colonia</option>");
                //            //$.each(result.data, function (index, optiondata) {
                //            //    $("#dropDownColonias").append("<option value='" + optiondata.coloniaId + "'>" + optiondata.coloniaNombre + "</option>");
                //            //});
                //        }
                //        else {
                //            $("#txtEntidad").val("");
                //            $("#txtMunicipio").val("");
                //            $("#dropDownColonias").empty();
                //        }
                //    },
                //    error: function (xhr) {
                //        alert("Hubo un error");
                //    }
                //});

            }
            else {
                //estpo cambiarlo por un modal
                alert("Debe de capturar un codigo postal de 5 digitos");
                $("#txtEntidad").val("");
                $("#txtMunicipio").val("");
                $("#dropDownColonias").empty();
            }

        });
    });

    //function SubmitForm(form) {
    function SubmitForm() {
        // $.validator.unobtrusive.parse(form);
        //if ($(form).valid()) {

        //se puede agregar una función de validación, para que no se vaya datos vacíos:
        descripcionIdGlobal = $("#dropDownDescripciones").val()
        //console.log(form);

        $.ajax({
            type: "POST",
            //url: form.action,
            url: "/Seguros/Cotizaciones/Cotizar/",
            //data: $(form).serialize(),
            data: { descripcionId: descripcionIdGlobal },
            success: function (result) {
                console.log(result.data);

                if (result.data != null) {
                    peticionFinalizadaGlobal = result.data.peticionFinalizada;
                    peticionLlaveGlobal = result.data.peticionLlave;
                   // PopUpForm(result.data);

                    //$('#myMmodal').modal({
                    //    show: 'true'
                    //});                     

                    //$("#results").text(result.data);
                    //$(".modal-body").text(result.data); 
                    //jQuery.noConflict();
                    LlenaCotizaciones(result.data);
                    $("#divModalConfirmacion").modal('show');
                    //$('#myModal').modal('show');
                    //$("#parrafoAseguradora1").text('$19099.00');
                    //$('#my-modal').modal({
                    //    show: 'true'
                    //}); 
                   //ev.preventDefault();

                }

                //console.log(peticionLlaveGlobal);
                //se puede hacer un ciclo, pero con ir 5 veces, más que suficiente
                //while (peticionFinalizadaGlobal == false) {
                if (peticionFinalizadaGlobal == false) {
                    ajaxCall2(peticionLlaveGlobal, descripcionIdGlobal);
                }
                //else {
                //    return false;
                //}

                //    $.ajax({
                //        type: "POST",
                //        //url: form.action,
                //        url: "/Seguros/Cotizaciones/Cotizar/",
                //        //data: $(form).serialize(),
                //        data: { descripcionId: descripcionIdGlobal },
                //        success: function (result) {
                //            console.log(result.data);
                //            peticionFinalizadaGlobal = result.data.peticionFinalizada;


                //        }
                //    });
                //}
                //if (data.success) {
                //    Popup.dialog('close');
                //    dataTable.ajax.reload();

                //    $.notify(data.message, {
                //        globalPosition: "top center",
                //        className: "success"
                //    })


                //}
            }
        });
        //}

        return false;

    }

    function ajaxCall2(peticionLlave, descripcionId) {
        $.ajax({
            type: "POST",
            //url: form.action,
            url: "/Seguros/Cotizaciones/Cotizar2/",
            //data: $(form).serialize(),
            data: { peticionLlave: peticionLlave, descripcionId: descripcionId },
            success: function (result) {
                console.log('la segunda vez');
                console.log(result.data);
                if (result.data != null) {
                    peticionFinalizadaGlobal = result.data.peticionFinalizada;
                    peticionLlaveGlobal = result.data.peticionLlave
                    LlenaCotizaciones(result.data);
                }
                console.log(peticionLlaveGlobal);

                //se puede hacer un ciclo, pero con ir 5 veces, más que suficiente
                //while (peticionFinalizadaGlobal == false) {
                if (peticionFinalizadaGlobal == false) {
                    ajaxCall3(peticionLlaveGlobal, descripcionIdGlobal);
                }

            }
        });

        return false;
    }

    function ajaxCall3(peticionLlave, descripcionId) {
        $.ajax({
            type: "POST",
            //url: form.action,
            url: "/Seguros/Cotizaciones/Cotizar2/",
            //data: $(form).serialize(),
            data: { peticionLlave: peticionLlave, descripcionId: descripcionId },
            success: function (result) {
                console.log('la tercera vez');
                console.log(result.data);
                if (result.data != null) {
                    peticionFinalizadaGlobal = result.data.peticionFinalizada;
                    peticionLlaveGlobal = result.data.peticionLlave
                    LlenaCotizaciones(result.data);
                }

                console.log(peticionLlaveGlobal);

                if (peticionFinalizadaGlobal == false) {
                    ajaxCall2(peticionLlaveGlobal, descripcionIdGlobal);
                }

                //se puede hacer un ciclo, pero con ir 5 veces, más que suficiente
                //while (peticionFinalizadaGlobal == false) {
                //if (peticionFinalizadaGlobal == false) {
                //    ajaxCall2();
                //}

            }
        });

        return false;
    }

    function LlenaCotizaciones(responseData) {
        for (i = 0; i < responseData.aseguradoras.length; i++) {

            var peticionAseguradora = responseData.aseguradoras[i];
            //console.log(peticionAseguradora);

            //console.log(peticionAseguradora.tarifa);
            var divAMostrar = "#divAseguradora" + (i + 1);
            var parrafoAMostrar = "#parrafoAseguradora" + (i + 1);
            console.log(divAMostrar);
            console.log('voy a mostrar si esta visible');
            console.log($(divAMostrar).is(":visible"));
            //$(divAMostrar).css('display') == 'block';
            //console.log($(divAMostrar).css('display'))
            //if ($(divAMostrar).css('display') == 'none') {
            //if ($(parrafoAMostrar.val() = '')) {
            if (!$(divAMostrar).is(":visible")) {
                var tarifa = "$" + peticionAseguradora.tarifa;
                $(parrafoAMostrar).text(tarifa);
                //$(divAMostrar).css('display') == 'block';
                //$(divAMostrar + ':visible').animate({ left: '+=10px' }, 'slow');
                //$(divAMostrar).css("display", "block")
                //$(divAMostrar).show()
                $(divAMostrar).removeAttr("style");
            }
            if (i == 4) {
                $("#parrafoCotizacionTerminada").removeAttr("style");
            }


        }
        //$("#parrafoAseguradora1").text('$19099.00');
    }

    function cerrarModal() {
        $("#divModalConfirmacion").modal('hide');
    }

    function PopUpForm(responseData) {

        var formDiv = $('<div/>');



        formDiv.html(responseData);

        //Popup = formDiv.dialog({
        //    autoOpen: true,
        //    resizable: false,
        //    title: "Llenar",
        //    height: 625,
        //    width: 750,
        //    close: function () {
        //        Popup.dialog('destroy').remove();
        //    }

        //});
    }

    

</script>

